
<nav class="no-nav" id="side-nav" >
    <button id="hide" onclick="hideSideNav()"> &#x2715;</button>
    <button id="show" onclick="showSideNav()"> </button>
    <h2>{{ site.title}}</h2>
    <ol>
       
        <li class="side-nav-obj" id="indexnav"><a href={{ 'index'  | relative_url }}>Etusivu </a></li>

        {% for page in site.pages %}
        {% if page.hidden != true%}
        <li class="side-nav-obj" id="{{ page.title }}nav"><a href="{{ page.url | relative_url  }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <br>
        {% for page in site.content %}
        {% if page.nav-title%}
        <li class="side-nav-obj" id="{{ page.nav-title }}nav"><a href="{{ page.url | relative_url }}">{{ page.nav-title }}</a></li>
        {% endif%}
        
        {% if page.sub-sections %}
            {% for s in page.sub-sections %}
            <li class="side-nav-sub-obj" id="{{ s.sub-section-title  }}nav"><a href="{{ page.url | relative_url }}#{{ s.sub-section-title | downcase | replace: ' ', '-' | remove: ':' }}">{{ s.sub-section-title }}</a></li>
        
            {% endfor %}
        {% endif %}
        
        {% endfor %}
    </ol>
</nav>