@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
    background-image: url(../img/taustakuva.svg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.highlight .syntax {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    padding: 0.5em;
}

.language-bash {
    background-color: #2E3436;
    color: #D3D7CF;
    border-radius: 8px;
}