@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
    background-image: url(../img/taustakuva.svg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;
}

body {
    margin:0;
}

.highlight .syntax {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    padding: 0.5em;
    margin: 2em 0;
    overflow-x: auto;
}

.highlight::before{
    content: var(--title);
}
.language-bash {
    background-color: #2E3436;
    color: #D3D7CF;
    border-radius: 8px;
}

.code-title {
    position: relative;
    text-align: right;
    top: 3.5em;
    right: 1em;
    margin-top: -3.5em;
}

.code-title-bash {
    color: white;
    position: relative;
    text-align: right;
    top: 3.5em;
    right: 1em;
    margin-top: -3.5em;
}
