.content {
    color: black;
    background-color: #ffffff;
    padding: 1em 2em 1em 2em;
    max-width: 45rem;
    margin: auto;
    margin-top: 2em;
}

code {
    font-size: 16px;
}

.db-table{
    display: inline-table;
    table-layout: fixed;
    border: 1px solid black;
}

.db-table #table-title {
    border: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.db-table td{
    border: 1px solid black;
    padding: 1px 5px;
}
.db-table th{
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    padding: 1px 5px;
}

.db-table tr:nth-child(odd){
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #b4b4b4;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
table {
    margin: 1.5em 0.7em;
}

@media screen and (max-width: 100rem) {
    .page-content {
        margin-left: 15em;
    }
}

@media screen and (max-width: 500px) {
    .page-content {
        margin-left: 3em;
    }
}
