
.content {
    color: black;
    background-color: #ffffff;
    padding: 1em 2em 1em 2em;
    max-width: 45rem;
    margin: auto;
    margin-top: 2em;
}

code {
    font-size: 16px;
}

@media screen and (max-width: 100rem) {
    .page-content {
        margin-left: 15em;
    }
}

@media screen and (max-width: 500px) {
    .page-content {
        margin-left: 3em;
    }
}
