.page-content {
    margin-left: 13em;
}

.content {
    color: black;
    background-color: #ffffff;
    padding: 1em 2em 1em 2em;
    max-width: 45rem;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .page-content {
        margin-left: 3em;
    }
}
