.footer {
    text-align: center;
    bottom: 0;
    font-size: 2rem;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    max-width: 45rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2em;
}

.footer img {
    width: 250px;
}