.header {
    text-align: center;
    font-size: 2rem;
    color: black;
    padding: 1em 1em 0;
    max-width: 45rem;
    margin: auto;
    margin-top: 4em;
    background-color: rgb(255, 255, 255);
}

.header h1 {
    border-radius: 8px;
    background: rgb(209, 209, 209);
}

.header + .content {
    margin-top: 0;
}

.header h1 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .header {
        height: 30%;
        font-size: 1.2em;
    }
}