.side-nav {
    position: fixed;
    width: 13em;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

.side-nav h2 {
    text-align: center;
    padding: 1em 0em 1em 0em;
}

.side-nav ol {
    list-style-type: none;
    padding-left: 0;
    color: black;
}

nav a {
    color: black;
}

nav a:hover {
    color: maroon;
}

.side-nav-obj {
    display: block;
    color: #000;
    padding: 0 0 0.5em 1em;
}

.side-nav-obj hr {
    border: thick dashed #475096ff;
}

.side-nav-sub-obj {
    display: block;
    color: #000;
    padding: 0 0 0.5em 2em;
}

.side-nav button {
    box-shadow: none;
    border: none;
    font-size: larger;
    background-color: transparent;
    margin: 1em 0 0 8em;
}

.side-nav #show {
    display: none;
}

.side-nav-hidden {
    position: fixed;
    width: 4em;
    overflow-y: hidden;
    background-color: transparent;
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 0;
}

.side-nav-hidden button {
    text-align: center;
    //background-color: rgba(71, 80, 150, 0.795);
    background-color: transparent;
    border: none;
    //font-size: 4em;
    margin-top: 0;
    overflow-x: hidden;
    background-image: url(../img/drawing.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4em;
    width: 4em;
}

.side-nav-hidden h2 {
    display: none;
}

.side-nav-hidden ol {
    display: none;
}

.side-nav-hidden #hide {
    display: none;
}

@media screen and (max-width: 500px) {
    .side-nav-hidden button {
        text-align: center;
        //background-color: rgba(71, 80, 150, 0.795);
        background-color: transparent;
        border: none;
        font-size: 3em;
        font-weight: bolder;
        margin-top: 0;
        height: 1em;
        width: 1em;
    }
}
